:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/63955239-white-brick-wall-background.jpg');
  background-size: cover;
}

#Title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  margin-top: -0.5rem;
}

.cell {
  border: 1rem outset blueviolet;
  padding: 0.1rem;
  margin: 0.1rem;
  width: 3rem;
  height: 3rem;
  background-color: blueviolet;
}

.main-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5rem;
}

.reset-button {
  margin-left: 2rem;
}
